@charset "utf-8"

body {

	font-family: 'Alfa Slab One', cursive;	
}

* {
	margin: auto;
	padding: 0px;
}


#nav {
	background: black;
	width: 100%;
	height: 80px;
	line-height: 80px;
	position: fixed;
	z-index: 100;
}

#nav h1 {
	float: left;
	position: fixed;
}

#nav h1 a {
	text-decoration: none;
	color: #A0E7E5;
	margin-left: 40px;
	font-family: 'Lobster', cursive;
	font-size:60px;
	position: fixed;
}

#nav:hover h1{
	filter: drop-shadow(0 0 10px #5A96BB);
}

#nav ul {
	float: right;
}

#nav ul li {
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	list-style-position: flex;
}

#nav ul li a {
	text-decoration: none;
	color: white;
	padding: 15px;
	font-size:18px;
	font-family: 'Libre Baskerville', serif;
}

#intro {
	position: absolute;
	padding-top: 730px;
	padding-left: 220px;
	font-size: 40px;
	font-family: 'Gluten', cursive;
	color: #A0E7E5;
}

#intro1 {
	position: absolute;
	padding-top: 450px;
	padding-left: 680px;
	font-size: 35px;
	font-family: 'Gluten', cursive;
	text-align: center;
	color: rgb(90, 150, 187);
}

#profile img {
	height: 500px;
	width: 500px;
}

#profile img:hover {
	transform: scale(1.1);
	transition: .5s ease-in-out;
}

#details p {
	text-decoration: none;
	position: absolute;
	color: grey;
	padding-left: 100px;
	padding-top: 130px;
	font-size: 80px;
	font-family: 'Birthstone Bounce', cursive;

}

#info {
	text-decoration: none;
	position: all;
	font-family: 'Orbitron', sans-serif;
	color: white;
	padding-left: 10%;
	padding-top: 10%;
	font-size: 30px;
}

#info1 {
	text-decoration: none;
	position: all;
	padding-top: 6%;
	font-family: 'Orbitron', sans-serif;
	color: white;
	text-align: center;
	font-size: 25px;
}

#credential { 
	text-decoration: none; 
	position: all; 
	padding-top: 15%; 
	font-family: 'Orbitron', sans-serif; 
	color: white;
	text-align: center; 
	font-size: 30px; }

#images {
	position: fixed;
	padding-top: 280px;
	padding-left: 180px;
}

#images img {
		height: 400px;
		align-content: center;
}

#profile{
	padding-top: 200px;
	display: inline-block;
	position: absolute;
	padding-left: 150px;
}

#nav ul li :hover {
	background: rgb(90, 150, 187);
	transition: .4s;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
}

#bg {
	background: url(images/bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height:937px;
}



@media all and (max-width : 1200px) {
	body {

	font-family: 'Alfa Slab One', cursive;	
	}

	* {
		margin:0px;
		padding: 0px;
	}


	#nav {
		background: black;
		width: 100%;
		height: 70px;
		line-height: 70px;
		position: fixed;
		z-index: 100;
	}

	#nav h1 {
		float: left;
		position: fixed;
	}

	#nav h1 a {
		text-decoration: none;
		color: #A0E7E5;
		margin-left: 40px;
		font-family: 'Lobster', cursive;
		font-size:50px;
		position: fixed;
	}

	#nav:hover h1{
		filter: drop-shadow(0 0 10px #5A96BB);
	}

	#nav ul {
		float: right;
	}

	#nav ul li {
		text-decoration: none;
		list-style-type: none;
		display: inline-block;
	}

	#nav ul li a {
		text-decoration: none;
		color: white;
		padding: 10px;
		font-size:14px;
		font-family: 'Libre Baskerville', serif;
	}

	#intro {
		position: absolute;
		padding-top: 680px;
		padding-left: 200px;
		font-size: 30px;
		font-family: 'Gluten', cursive;
		color: #A0E7E5;
	}

	#intro1 {
		position: absolute;
		padding-top: 450px;
		padding-left: 575px;
		font-size: 25px;
		font-family: 'Gluten', cursive;
		text-align: center;
		color: rgb(90, 150, 187);
	}

	#profile img {
		height: 450px;
		width: 450px;
	}

	#profile img:hover {
	transform: scale(1.1);
	transition: .5s ease-in-out;
	}

	#details p {
		text-decoration: none;
		position: all;
		color: grey;
		padding-left: 70px;
		padding-top: 100px;
		font-size: 70px;
		font-family: 'Birthstone Bounce', cursive;

	}

	#info {
		text-decoration: none;
		position: all;
		font-family: 'Orbitron', sans-serif;
		color: white;
		padding-left: 14%;
		padding-top: 11%;
		font-size: 25px;
	}

	#info1 {
		text-decoration: none;
		position: all;
		padding-top: 10%;
		font-family: 'Orbitron', sans-serif;
		color: white;
		text-align: center;
		font-size: 24px;
	}

	#credential {
		text-decoration: none;
		position: all;
		padding-top: 15%;
		font-family: 'Orbitron', sans-serif;
		color: white;
		text-align: center;
		font-size: 25px;
	}

	#images {

		position: absolute;
		padding-top: 300px;
		padding-left: 100px;
	}

	#images img {
		height: 300px;
		align-content: center;
	}

	#profile{
		padding-top: 200px;
		display: inline-block;
		position: absolute;
		padding-left: 100px;
	}

	#nav ul li :hover {
		background: rgb(90, 150, 187);
		transition: .4s;
		padding-bottom: 25px;
		padding-top: 25px;
		padding-right: 25px;
		padding-left: 25px;
	}

	#bg {
		background: url(images/bg.jpg);
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		height:937px;
	}
}



	@media all and (max-width : 992px) {
		body {

		font-family: 'Alfa Slab One', cursive;	
		}

		* {
			margin:0px;
			padding: 0px;
		}


		#nav {
			background: black;
			width: 100%;
			height: 60px;
			line-height: 60px;
			position: fixed;
			z-index: 100;
		}

		#nav h1 {
			float: left;
			position: fixed;
		}

		#nav h1 a {
			text-decoration: none;
			color: #A0E7E5;
			margin-left: 40px;
			font-family: 'Lobster', cursive;
			font-size:40px;
			position: fixed;
		}

		#nav:hover h1{
			filter: drop-shadow(0 0 10px #5A96BB);
		}

		#nav ul {
			float: right;
		}

		#nav ul li {
			text-decoration: none;
			list-style-type: none;
			display: inline-block;
		}

		#nav ul li a {
			text-decoration: none;
			color: white;
			padding: 10px;
			font-size:10px;
			font-family: 'Libre Baskerville', serif;
		}

		#intro {
			position: absolute;
			padding-top: 630px;
			padding-left: 140px;
			font-size: 20px;
			font-family: 'Gluten', cursive;
			color: #A0E7E5;
		}

		#intro1 {
			position: absolute;
			padding-top: 430px;
			padding-left: 420px;
			font-size: 15px;
			font-family: 'Gluten', cursive;
			text-align: center;
			color: rgb(90, 150, 187);
		}

		#profile img {
			height: 350px;
			width: 350px;
		}

		#profile img:hover {
		transform: scale(1.1);
		transition: .5s ease-in-out;
		}

		#details p {
			text-decoration: none;
			position: all;
			color: grey;
			padding-left: 40px;
			padding-top: 70px;
			font-size: 60px;
			font-family: 'Birthstone Bounce', cursive;

		}

		#info {
			text-decoration: none;
			position: right;
			font-family: 'Orbitron', sans-serif;
			color: white;
			padding-left: 13%;
			padding-top: 11%;
			font-size: 20px;
		}

		#info1 {
			text-decoration: none;
			position: all;
			padding-top: 10%;
			font-family: 'Orbitron', sans-serif;
			color: white;
			text-align: center;
			font-size: 21px;
		}

		#credential {
			text-decoration: none;
			position: all;
			padding-top: 15%;
			font-family: 'Orbitron', sans-serif;
			color: white;
			text-align: center;
			font-size: 20px;
		}

		#images {

			position: absolute;
			padding-top: 300px;
			padding-left: 100px;
		}

		#images img {
			height: 220px;
			align-content: center;
		}

		#profile{
			padding-top: 250px;
			display: inline-block;
			position: absolute;
			padding-left: 50px;
		}

		#nav ul li :hover {
			background: rgb(90, 150, 187);
			transition: .4s;
			padding-bottom: 25px;
			padding-top: 25px;
			padding-right: 25px;
			padding-left: 25px;
		}

		#bg {
			background: url(images/bg.jpg);
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			height:937px;
		}
	}